about.thoughtgrove.com:80 {
	root * /home/brianadams731/csc648-spring22-04-team02/applications/client/teamWebsite/
	file_server
}

www.thoughtgrove.com, thoughtgrove.com, :80 {
	route /api* {
		uri strip_prefix /api
		reverse_proxy 127.0.0.1:8080
	}

	route {
		root * /home/brianadams731/csc648-spring22-04-team02/applications/client/artemis/build/
		try_files {path} /index.html
		file_server
	}
}
