thoughtgrove.com {
    root * /home/brianadams731/csc648-spring22-04-team02/application/client/teamWebsite/
    try_files {path} /index.html
    file_server
}

api.thoughtgrove.com {
    reverse_proxy 127.0.0.1:8080
}