.wrapper{
    display: flex;
    width: 100%;
    padding: 25px 0;
    justify-content: space-around;
    align-items: center;
}

.navBox{
    ul{
        display: flex;
        gap: 15px;
    }
}

.searchBox{
    form{
        display: flex;
        gap: 3px;
    }

    input{
        font-family: var(--font-header);
        padding: 5px;
    }
    button{
        display: block;
        padding: 0;
        width: min-content;
    }
}

.logoBox{
    width: 350px;
    height: 50px;
    background-color: pink;
}

.avatar{
    width: 50px;
}