/* UTILITIES */
.sandbox {
    background-image: url("../../public/assets/background.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    /* navbar */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        color: #fff;
        a {
            color: #fff;
        }
    }

    .menu {
        display: flex;
        gap: 1em;
        font-size: 45px;
    }

    .menu li:hover {
        border-radius: 50px;
        transition: 0.3s ease;
        box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.5);
    }

    /* ARTEMIS */
    .artemis {
        font-style: bold;
        font-weight: 700;
        font-size: 30px;
        padding: 5px 0px 0px 60px;
        color: #fff;
    }

    /* get Started button */
    .getstarted {
        position: relative;
        border: 3px solid #ffffff;
        filter: drop-shadow(10px 15px 50px rgba(0, 0, 0, 0.5));
        border-radius: 75px;
        font-size: 14px;
        padding: 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
    }

    /* login button */
    .login {
        background: linear-gradient(
            90deg,
            rgba(255, 28, 247, 0.87) 0.01%,
            #00f0ff 0.02%,
            rgba(255, 28, 247, 0.87) 98.96%
        );
        box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.5);
        border-radius: 75px;
        font-size: 18px;
        color: #fff;
        padding: 10px 30px 10px 30px;
        border: 3px solid #fff;
        border-style: hidden;
    }

    .space {
        border-radius: 75px;
        font-size: 24px;
        color: #fff;
        padding: 10px 20px 10px 20px;
    }

    /* For desktop: */
    .col-1 {
        width: 10%;
    }
    .col-2 {
        width: 35%;
    }
    .col-3 {
        width: 55%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

    /* Pursue Perfection. */
    .pursue {
        font-style: bold;
        font-weight: 700;
        font-size: 46px;
        padding: 5px 0px 0px 70px;
        color: #fff;
    }

    /* Artemis makes */
    .art_makes {
        font-style: normal;
        font-size: 16px;
        color: #fff;
        padding-left: 75px;
        padding-top: 10px;
    }

    .indent_learn {
        padding-left: 75px;
        padding-top: 10px;
    }

    /* learn button */
    .learn {
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.25) 100%,
            rgba(0, 240, 255, 0.45) 45%
        );
        mix-blend-mode: hard-light;
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
        border-radius: 75px;
        font-size: 18px;
        padding: 10px 30px 10px 30px;
        color: #fff;
        a{
            &:hover{
                cursor: pointer;
            }
            color: #fff; 
        }
    }

    .grid-container {
        display: grid;
        position: absolute;
        justify-content: center;
        pointer-events: none;
        bottom: 0;
        gap: 150px;
        padding: 50px 50px 20px 50px;
    }

    .grid-item {
        padding: 20px;
    }

    .item1,
    .item2,
    .item3,
    .item4 {
        grid-column: 1 / span 9;
    }

    .item1 {
        grid-row: 1;
    }

    .item2 {
        grid-row: 2;
    }

    .item3 {
        grid-row: 3;
    }

    .item5,
    .item9,
    .item10,
    .item11,
    .item12,
    .item13,
    .item14,
    .item15 {
        grid-row: 4;
    }
    .item6,
    .item7,
    .item8 {
        background: #ffffff;
        box-shadow: 0px 30px 75px rgba(55, 59, 68, 0.4);
        border-radius: 25px;
        padding: 10px 20px 20px 10px;
        grid-row: 4;
        width: 210px;
        min-height: 270px;
    }

    .manage_image,
    .store_image,
    .security_image {
        padding-top: 20px;
        text-align: center;
    }
    .manage,
    .store,
    .security {
        font-size: 24px;
        text-align: center;
    }

    .manage_descrip,
    .store_descrip,
    .security_descrip {
        font-size: 12px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* For mobile phones: */
    @media only screen and (max-width: 600x) {
        [class*="col-"] {
            width: 100%;
        }
    }
}
