.wrapper{
    width: 100vw;
    height: 100vh;
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTicket{
    padding: 5px 5px;
    width: fit-content;
    &:hover{
        cursor: pointer;
    }
}
.board{
    h2{
        text-align: center;
        margin-bottom: 10px;
    }
    padding: 15px 15px;
    background-color: rgba(196, 196, 196, 0.72);
    border-radius: 25px;
    width: 300px;
    height: 85vh;
    overflow: auto;
    min-width: 150px;
    transition: background-color .2s ease-in-out;
}

.ticket {
    padding: 15px 0px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    user-select: none;
}
