.outerWrap{
    position: relative;
    .background{
        z-index: -999;
        position: absolute;
        object-fit: contain;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
}
.wrapper{
    width: 100%;
    min-height: 80vh;
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boardHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0px 20px;
    h2{
        font-weight: 600;
    }
    &::after{
        content: "";
        width: 25px;
    }
}

.addTicket{
    height: 25px;
    width: 25px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
    border: 1px solid rgba(var(--c-main-gray-open), 0.9);
    border-radius: 5px;

    background-color: white;
    color: var(--c-main-gray);

    svg{
        fill: var(--c-main-gray);
    }
}

.board {
    padding: 15px 15px;
    background-color: rgba(var(--c-main-gray-open), 0.72);
    border-radius: var(--border-radius-main);
    width: 300px;
    height: 85vh;
    overflow: auto;
    min-width: 150px;
    transition: background-color .2s ease-in-out;
}

.ticket {
    padding: 15px 0px;
    border-radius: var(--border-radius-low);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    user-select: none;

    &:hover{
        cursor: pointer;    
    }
    &:active{
        cursor: grabbing;
    }
}
