/* Resets and Variables */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

svg, img{
    display: block;
}

:root{
    --font-inter: 'Inter', sans-serif;
    --font-openSans: 'Open Sans', sans-serif;
    
    --c-textBase: rgb(0,0,0);


    --c-button-bg: rgb(0,0,0);
    --c-button-text: rgb(255,255,255);

    --c-button-hov-bg: rgb(100,100,100);

    --border-card-radius: 20px;
    --box-shadow-card: 2px 4px 12px rgba(0, 0, 0, .10);
    --card-padding: 50px 50px;
}

h1,h2,h3,h4,h5,h6,p{
    font-weight: 400;
    font-size: 1rem;
    color: var(--c-textBase);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-inter);
}

p{
    font-family: var(--font-openSans);
}

nav li{
    font-family: var(--font-inter);
    list-style: none;
}

nav a{
    color: var(--c-textBase);
    text-decoration: none;
}
nav a:visited{
    color: var(--c-textBase);
}

button{
    font-family: var(--font-inter);
    font-size: 1.2rem;
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    background-color: var(--c-button-bg);
    color: var(--c-button-text);
    transition: all .2s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: var(--c-button-hov-bg);
    transform: scale(1.07);
}

button:active{
    transform: scale(.98) translateY(4px);
}

.hide-off-screen{
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
/* Body Styles */
.header-wrapper{
    position: fixed;
    top:0;
    right: 0;
    padding: 55px 6%;
    transition: all .3s ease-in-out;
}

.about{
    position: relative;
    font-size: 1.5rem;
}

.about::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    background-color: var(--c-textBase);
    height: 2px;
    width: 100%;
    transform: translateY(-50%) scale(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
}

.about:hover::after{
    transform: translateY(-50%) scale(1);
}

.landing-wrapper{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}
.hero-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-hero-text{
    font-size: 5rem;
    font-weight: 600;
}

.landing-sub-text{
    font-size: 1.3rem;
    color: rgb(40, 40, 40);
}
.about-wrapper{
    margin: auto;
    width: fit-content;
    padding: 50px 0;
}

.about-head{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.about-team-wrapper{
    display: grid;
    margin: auto;
    gap: 75px;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-team-member{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    max-width: 375px;

    padding: var(--card-padding);
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-card-radius);

    transition: transform .2s ease-in-out;
}

.about-team-member:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.about-team-member:active{
    transform: scale(.98) translateY(10px);
}

.avatar{
    width:200px;
    margin: auto;
    object-fit: cover;
    border-radius: 100%;
}

.about-team-member h3{
    font-size: 1.8rem;
    text-align: center;
}

@media screen and (max-width:1300px) {
    .about-team-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    .about-team-wrapper{
        grid-template-columns: 1fr;
    }
    .about-team-member{
        max-width: 425px;
    }
}

@media screen and (max-width: 450px) {
    .about-team-member{
        max-width: 95%;
        margin: auto;
    }
}
